@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body
{
    background: url("./images/backli.jpg") no-repeat center;
      width:100%;
    height: 100%;
    background-size: cover;
    
    display: block;
    position: left;
    
}
footer
{
    font-weight: bolder;
    color: #330066;
    position:relative;
    bottom:0;
    
    padding: 10px;
    align-content: center;
    justify-content: center;
}
p.adrevamp
{
    font-size: 20px;
    font-family: Poppins;
    color: green;

}
.navbar{
    
    border:none;
    font-weight: bolder;
    font-family: Poppins;
}

.navbar:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: black;
}
.panel{

    margin-top: 40px;
    margin-left: 20px;
    
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 
}
hr.black
{
    border-top: 1px solid black;
    border-bottom: none;
}
hr
{
    border:1px solid red;
}
.red
{
    color: red;
    font-weight: bold;
}

.error
{
    background: #F2DEDE;
   color: red;

}


